{% extends 'base.html' %}

{% block content %}
<style>
    body{
        background-color: black;
        margin: 0;
        padding: 0;
        display: flex;
        align-items:center;
        min-height: 100vh;
        justify-content: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  
    a{
        padding: 15px 30px;
        position: relative;
        text-transform: uppercase;
        display: inline-block;
        overflow: hidden;
        text-decoration: none;
        font-size:35px;
        letter-spacing: 4px;
        transition: 0.2s;
    }
    a:hover{
        color: black;
        background: yellow;
        font-size:38px;
        border-radius: 50px;
        transition-delay: 1s;
        box-shadow: 0  0 10px yellow, 0 0 40px red, 0 0 80px red;
    }
    a span{
        position: absolute;
        display: block;
    }
   a span:nth-child(1){
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background:linear-gradient(90deg, transparent,  blue);
    }
     a:hover span:nth-child(1){
         left: 100%;
         transition: 1s;
     }
   a span:nth-child(3){
      bottom: 0px;
      right: -100%;
      width: 100%;
      height: 2px;
      background:linear-gradient(270deg, transparent,  grenn);
    }
     a:hover span:nth-child(3){
         right:  100%;
         transition: 1s;
         transition-delay: 0.5s;
     }
      a span:nth-child(2){
      top: -100px;
      right: 0px;
      width: 2px;
      height: 100%;
      background:linear-gradient(180deg, transparent,  orange);
    }
     a:hover span:nth-child(2){
         top:  100%;
         transition: 1s;
         transition-delay: 0.25s;
     }
     a span:nth-child(4){
      bottom: -100px;
      left:  0px;
      width: 2px;
      height: 100%;
      background:linear-gradient(360deg, transparent, rgb(200, 150, 100));
    }
     a:hover span:nth-child(4){
         bottom:  100%;
         transition: 1s;
         transition-delay: 0.75s;
     } 
</style>
<h1>Delete</h1>
<form action="" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ article.title }}"?</p>
    <button class="btn btn-danger ml-2" type="submit">Confirm</button>
</form>
   <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
       submit
    </a>
{% endblock content %}
