{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="jumbotron text-centre" >
    <h1 class="display-4">Newspaper App</h1>
    <p class="lead">A Sample Newspaper website built with Django.</p>
    {% if user.is_authenticated %}
    Hi {{user.username }}!
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}"
        role="button">View All Articles</a>
        </p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
    <p>You are not logged in</p>
    {% endif %}
    {% endblock content %}
</div>


